@{
    ViewData["Title"] = "Index";
}
@section Scripts{
    <script src="~/app/controllers/product/index.js"></script>
    <script src="~/vendor/jquery-easyui/js/jquery.easyui.min.js"></script>

    <script>
        var product = new productController();
        product.initialize();
    </script>
}
@section Styles{
    <link href="~/vendor/jquery-easyui/css/easyui.css" rel="stylesheet" />
}

<div class="page-title">
    <div class="title_left">
        <h3>Product <small>List Products</small></h3>
    </div>
    <div class="title_right">
        <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Go !</button>
                </span>
            </div>
        </div>
        <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right top_search ">
            <select class="form-control" id="ddlCategory">
                <option value="1">Chọn danh mục</option>
            </select>
        </div>
        <div class="col-md-6 col-sm-2 col-xs-12 form-group pull-right top_search ">
            <button class="btn btn-success" id="btnCreate" type="button">Create</button>
            <a class="btn btn-danger" href="~/template/productImporttemplate.xlsx">Download Template</a>
            <button class="btn btn-primary" id="btnExport" type="button"><i class="fa fa-forward"></i></button>
            <button class="btn btn-primary" id="btnInport" type="button"><i class="fa fa-file-excel-o"></i></button>

        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Product <small>ListProduct</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">#</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Date Created</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--paging-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="x-tmpl-mastache">

    <tr>
        <th>
            <button class="btn btn-default btn-sm btnEdit" data-id="{{Id}}"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-danger btn-sm btnDelele"  data-id="{{Id}}"><i class="fa fa-trash"></i></button>
        </th>
        <td>{{{ImageThumbs}}}</td>
        <td>{{Name}}</td>
        <td>{{CategoryName}}</td>
        <td>{{Price}}</td>
        <td>{{{DateCreated}}}</td>
        <td>{{{Status}}}</td>
    </tr>
</script>

<partial name="_AddEditModal.cshtml" />
<partial name="_ImportExcelModal.cshtml" />