@using Microsoft.AspNetCore.Identity
@using NetCore.Data.Entites;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@using NetCore.Extensions
<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img src="@User.getSpecificClaim("Avatar")" alt="">@User.getSpecificClaim("FullName")
    <span class=" fa fa-angle-down"></span>
</a>

<ul class="dropdown-menu dropdown-usermenu pull-right">
    <li><a href="javascript:;"> Profile</a></li>
    <li>
        <a href="javascript:;">
            <span class="badge bg-red pull-right">50%</span>
            <span>Settings</span>
        </a>
    </li>
    <li><a href="javascript:;">Help</a></li>
    <li>
        <form action="/admin/account/logout" method="post" id="logoutForm" class="navbar-right">

            <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
        </form>
    </li>
</ul>